pbxevents-model/src/main/resources/PBXEvents.xsd

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://pbxevents.jjinterna.com/model"
    elementFormDefault="qualified"
    targetNamespace="http://pbxevents.jjinterna.com/model">

    <xsd:complexType name="PBXEvent">
        <xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="PBXCallQueueEvent">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXEvent">
        		<xsd:sequence>
        			<xsd:element name="callId" type="xsd:string" />
        			<xsd:element name="callerId" type="xsd:string" />
        			<xsd:element name="did" type="xsd:string" />
        			<xsd:element name="queue" type="xsd:string" />        	
        			<xsd:element name="agent" type="xsd:string" />
					<xsd:element name="queueEnterTime" type="xsd:int" minOccurs="0" />
					<xsd:element name="queueConnectTime" type="xsd:int" minOccurs="0" />
					<xsd:element name="queueLeaveTime" type="xsd:int" minOccurs="0" />
				</xsd:sequence>				
        	</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="CallEnterQueue">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXCallQueueEvent">
        		<xsd:sequence>
				</xsd:sequence>				
        	</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="CallAbandon">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXCallQueueEvent">
        		<xsd:sequence>
				</xsd:sequence>				
        	</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="CallComplete">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXCallQueueEvent">
        		<xsd:sequence>
				</xsd:sequence>				
        	</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="CallConnect">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXCallQueueEvent">
        		<xsd:sequence>
				</xsd:sequence>				
        	</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="CallExitWithTimeout">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXCallQueueEvent">
        		<xsd:sequence>
				</xsd:sequence>				
        	</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="PhoneDiscovered">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXEvent">
        		<xsd:sequence>
        			<xsd:element name="sysName" type="xsd:string" />        	
        			<xsd:element name="sysDesc" type="xsd:string" />
        			<xsd:element name="networkAddress" type="xsd:string" />
        			<xsd:element name="agentAddress" type="xsd:string" />
				</xsd:sequence>
        	</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="ColdBoot">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXEvent">
        		<xsd:sequence>
        			<xsd:element name="agentAddress" type="xsd:string" />        	
				</xsd:sequence>
        	</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="SipLineDiscovered">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXEvent">
        		<xsd:sequence>
        			<xsd:element name="extension" type="xsd:string" />
        			<xsd:element name="networkAddress" type="xsd:string" />
        			<xsd:element name="port" type="xsd:int" />
				</xsd:sequence>
        	</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="PBXQueueEvent">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXEvent">
        		<xsd:sequence>
					<xsd:element name="timeId" type="xsd:long" />
					<xsd:element name="queue" type="xsd:string" />        	
					<xsd:element name="agent" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="QueueAddMember">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXQueueEvent">
        		<xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="QueueRemoveMember">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXQueueEvent">
        		<xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="QueuePause">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXQueueEvent">
        		<xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="QueueUnPause">
        <xsd:complexContent>
        	<xsd:extension base="tns:PBXQueueEvent">
        		<xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

</xsd:schema>